# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.env
.venv/

# IDEs
.vscode/
.idea/

# Uploaded & processed files (ignoring files but keeping the directories using .gitkeep)
data/uploads/*
!data/uploads/.gitkeep
data/processed/*
!data/processed/.gitkeep
data/extracted/*
!data/extracted/.gitkeep
data/results/*
!data/results/.gitkeep

# macOS
.DS_Store
